@{
    ViewData["Title"] = "Filter";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/filter.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="head">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a> <span>/ Tất cả sản phẩm</span></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4 left">
                <div class="menu-doc">
                    <div class="danh-muc">
                        <p>Danh mục</p>
                    </div>
                    <div class="menu">
                        <ul class="list-group">
                            @foreach (var cate in ViewBag.CategoryId)
                            {
                                <li class="list-group-item"><a asp-action="Filter" asp-controller="Home" asp-route-CategoryId="@cate.CategoryId">@cate.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 right">
                <div class="row">
                    @foreach (var pro in Model)
                    {
                        <div class="col-md-4 product">
                            <div class="w3-card-4" style="width:75%">
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@pro.ProductId"><img src="@pro.Image" alt="Alps" style="width:100%"></a>
                                <div class="w3-container w3-center">
                                    <p>@pro.Name</p>
                                    <span class="sale-price">@pro.SalePrice</span>
                                    <span class="price">@pro.Price</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

</html>
